"*":
  "autoclose-html":
    forceInline: [
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "table"
      "tr"
      "th"
      "td"
      "li"
    ]
  "autocomplete-php": {}
  "autocomplete-plus":
    confirmCompletion: "enter"
  core:
    disabledPackages: [
      "git-diff"
      "wrap-guide"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "e20b59fb-8a0a-250d-9f90-fa114533f2b6"
  linter: {}
  "linter-php": {}
  minimap: {}
  "one-dark-ui": {}
  "status-bar": {}
  welcome:
    showOnStartup: false
